:root {
    --light-gray: rgba(0,0,0,.2);
    --primary: #005cb9;
}
body {
    background-color: green;
    margin: 0;
}
.solitaire-game {
    background: green;
    display: flex;
    flex-direction: column;
}
.solitaire-game .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solitaire-game .top-bar .ordered-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solitaire-game .top-bar .ordered-cards > div {
    width: 100px;
    height: 140px;
    border: 4px solid var(--light-gray);
    background-color: rgba(0,0,0,.2);
    border-radius: 5px;
    margin: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.solitaire-game .top-bar .ordered-cards > div > i.mdi {
    font-size: 48px;
    color: var(--light-gray);
}
.solitaire-game .top-bar .remaining-cards {
    display: flex;
    justify-content: end;
    align-items: center;
}
.solitaire-game .top-bar .remaining-cards .deck {
    width: 100px;
    height: 140px;
    border: 4px solid var(--light-gray);
    border-radius: 5px;
    margin: .5em;
    position: relative;
}
.solitaire-game .top-bar .remaining-cards .deck .card {
    position: absolute;
    top: 0px;
    left: 0px;
}
.solitaire-game .remaining-cards .card-selection {
    position: relative;
    min-width: 100px;
    height: 140px;
    border-radius: 5px;
    margin: .5em;
}
.solitaire-game .remaining-cards .card-selection .card, .solitaire-game .ordered-cards .card {
    position: absolute;
    top: 0px;
    left: 0px;
}
.solitaire-game .card {
    width: 100px;
    height: 140px;
    perspective: 1000px;
    cursor: pointer;
}
.solitaire-game .card .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.solitaire-game .card.selected {
    outline: 3px solid yellow;
}
.solitaire-game .card.hidden .inner {
    transform: rotateY(180deg);
}
.solitaire-game .card .front, .solitaire-game .card .back {
    background-color: white;
    position: absolute;
    border: 1px solid black;
    box-shadow: 0px 3px 4px #d9d9d9;
    border-radius: 5px;
    top: 0px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.solitaire-game .card .front {
    padding: 4px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.solitaire-game .card .back {
    background-image: url(../images/back-design.jpg);
    background-size: contain;
    background-position: center center;
    transform: rotateY(180deg);
}
.solitaire-game .card .front span {
    margin-right: 4px;
}
.solitaire-game .card .front > :first-child {
    position: absolute;
    top: 4px;
    left: 4px;
}
.solitaire-game .card .front > :last-child {
    transform: rotate(180deg);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.solitaire-game .card .front > :nth-child(2) {
    font-size: 36px;
}
.solitaire-game .card.suit-spade, .card.suit-flower {
    color: #333;
}
.solitaire-game .card.suit-heart, .card.suit-diamond {
    color: #f53535;
}
.solitaire-game .board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solitaire-game .board .slot {
    min-width: 100px;
    height: 140px;
    background-color: rgba(0,0,0,.2);
    border-radius: 5px;
    margin: .5em;
    position: relative;
    cursor: pointer;
}
.solitaire-game .board .slot .card {
    position: absolute;
}